### Student Loans Risk analysis with Deep Learning model

In [18]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

#### Get the data and Prepare it for a neural network model

#### Step 1: Read the **student-loans.csv** file into a DataFrame. Review the DF, look for columns that could define features and target variables.

In [19]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [20]:
# Review the data types associated with the columns
loans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   payment_history         1599 non-null   float64
 1   location_parameter      1599 non-null   float64
 2   stem_degree_score       1599 non-null   float64
 3   gpa_ranking             1599 non-null   float64
 4   alumni_success          1599 non-null   float64
 5   study_major_code        1599 non-null   float64
 6   time_to_completion      1599 non-null   float64
 7   finance_workshop_score  1599 non-null   float64
 8   cohort_ranking          1599 non-null   float64
 9   total_loan_score        1599 non-null   float64
 10  financial_aid_score     1599 non-null   float64
 11  credit_ranking          1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [21]:
# Check the credit ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

#### Construct the features (X) and targets (y) datasets from the preprocessed data. Define the target dataset using **"credit_ranking"** column of the preprocessed DataFrame, while the remaining columns will constitute the features dataset.

In [22]:
# Define the target set y from credit_ranking column
y = loans_df["credit_ranking"]

# Display array sample of target y 
y[:10].values

array([0, 0, 0, 1, 0, 0, 0, 1, 1, 0])

In [23]:
# Define fetures set X, select all columns besides credit_ranking 
X = loans_df.drop(columns="credit_ranking")

# Reeview features
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

#### Step 3: Now let's split the target and features sets into training and testing

In [24]:
# Split the preprocessed data into a training and testing datasets
# Set random state
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

#### Step 4: Use `StandardSaler` to scale the featurees data

In [25]:
# Create a StandardScaler instance
Scaler = StandardScaler()

# Fit the scaler to the features training dataset
Scaler.fit(X_train)

# Scale the data
X_train_scaled = Scaler.fit_transform(X_train)
X_test_scaled = Scaler.transform(X_test)

#### Step 5: Create a Neural Network Model
In this step we'll create a deep neural network. We'll assign the number of input features, number of layers, and number of neurons for each layer utilizing Keras.

In [26]:
# Define the number of input features for the model
input_features = len(X_train.columns)

# Review the number of features
input_features

11

In [27]:
# Define the number of hidden nodes for the 1st hidden layer
hidden_nodes_layer1 = 6

# Define the number of hidden nodes for the 2dn hidden layer
hidden_nodes_layer2 = 3

# Define the number of neurons in the output layer 
output_nodes = 1

In [28]:
# Create a Sequential model 
nn_model = Sequential()

# Add the first hidden layer 
nn_model.add(Dense(units=hidden_nodes_layer1,
                   input_dim=input_features, activation="relu"))

In [29]:
# Add second hidden layer
nn_model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [30]:
# Add the output layer to the model.
#Specify teh number of output neurons with activation function.
nn_model.add(Dense(units=output_nodes, activation="sigmoid"))

In [31]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 72

 dense_4 (Dense)             (None, 3)                 21

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

#### Step 6: Compile and fit the model using `binary_crosstropy` los function with `adam` optimizer, and the `accuracy` evaluation metric.

In [32]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy",
                 optimizer="adam", metrics=["accuracy"])

In [33]:
# Fit the model, use 50 epocs and training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 6ms/step - loss: 1.0161 - accuracy: 0.4103
Epoch 2/50
38/38 [==============================] - 0s 5ms/step - loss: 0.8782 - accuracy: 0.3803
Epoch 3/50
38/38 [==============================] - 0s 6ms/step - loss: 0.8007 - accuracy: 0.3770
Epoch 4/50
38/38 [==============================] - 0s 5ms/step - loss: 0.7566 - accuracy: 0.4020
Epoch 5/50
38/38 [==============================] - 0s 5ms/step - loss: 0.7297 - accuracy: 0.4195
Epoch 6/50
38/38 [==============================] - 0s 5ms/step - loss: 0.7149 - accuracy: 0.4529
Epoch 7/50
38/38 [==============================] - 0s 6ms/step - loss: 0.7060 - accuracy: 0.4704
Epoch 8/50
38/38 [==============================] - 0s 6ms/step - loss: 0.7005 - accuracy: 0.4962
Epoch 9/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6972 - accuracy: 0.5079
Epoch 10/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6949 - accuracy: 0.5179
Epoch 11/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6932 - accuracy: 0.5213
Epoch 12/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6919 - accuracy: 0.5238
Epoch 13/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6908 - accuracy: 0.5271
Epoch 14/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6898 - accuracy: 0.5296
Epoch 15/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6888 - accuracy: 0.5363
Epoch 16/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6878 - accuracy: 0.5388
Epoch 17/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6868 - accuracy: 0.5446
Epoch 18/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6855 - accuracy: 0.5496
Epoch 19/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6837 - accuracy: 0.5605
Epoch 20/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6818 - accuracy: 0.5696
Epoch 21/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6799 - accuracy: 0.5755
Epoch 22/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6777 - accuracy: 0.5796
Epoch 23/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6751 - accuracy: 0.5830
Epoch 24/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6722 - accuracy: 0.5922
Epoch 25/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6692 - accuracy: 0.5988
Epoch 26/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6653 - accuracy: 0.6072
Epoch 27/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6612 - accuracy: 0.6188
Epoch 28/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6565 - accuracy: 0.6339
Epoch 29/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6516 - accuracy: 0.6389
Epoch 30/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6475 - accuracy: 0.6522
Epoch 31/50
38/38 [==============================] - 0s 7ms/step - loss: 0.6425 - accuracy: 0.6564
Epoch 32/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6381 - accuracy: 0.6631
Epoch 33/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6335 - accuracy: 0.6672
Epoch 34/50
38/38 [==============================] - 0s 5ms/step - loss: 0.6293 - accuracy: 0.6689
Epoch 35/50
38/38 [==============================] - 0s 7ms/step - loss: 0.6253 - accuracy: 0.6781
Epoch 36/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6213 - accuracy: 0.6822
Epoch 37/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6175 - accuracy: 0.6922
Epoch 38/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6139 - accuracy: 0.6972
Epoch 39/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6101 - accuracy: 0.7056
Epoch 40/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6065 - accuracy: 0.7073
Epoch 41/50
38/38 [==============================] - 0s 6ms/step - loss: 0.6030 - accuracy: 0.7056
Epoch 42/50
38/38 [==============================] - 0s 6ms/step - loss: 0.5998 - accuracy: 0.7114
Epoch 43/50
38/38 [==============================] - 0s 5ms/step - loss: 0.5963 - accuracy: 0.7164
Epoch 44/50
38/38 [==============================] - 0s 6ms/step - loss: 0.5931 - accuracy: 0.7189
Epoch 45/50
38/38 [==============================] - 0s 6ms/step - loss: 0.5897 - accuracy: 0.7198
Epoch 46/50
38/38 [==============================] - 0s 5ms/step - loss: 0.5869 - accuracy: 0.7264
Epoch 47/50
38/38 [==============================] - 0s 6ms/step - loss: 0.5838 - accuracy: 0.7256
Epoch 48/50
38/38 [==============================] - 0s 5ms/step - loss: 0.5808 - accuracy: 0.7281
Epoch 49/50
38/38 [==============================] - 0s 6ms/step - loss: 0.5781 - accuracy: 0.7281
Epoch 50/50
38/38 [==============================] - 0s 5ms/step - loss: 0.5754 - accuracy: 0.7331

#### Step 7: Evaluate the model using test data to determine the model's loss and accuracy.

In [35]:
# Evaluate loss and accuracy of the model and the test data
model_loss, model_accuracy = nn_model.evaluate(
    X_test_scaled, y_test, verbose=2)

13/13 - 0s - loss: 0.5697 - accuracy: 0.7175 - 148ms/epoch - 11ms/step

In [37]:
# Display the results
print(f"Loss:{model_loss}, Accuracy: {model_accuracy}")

Loss:0.5696666240692139, Accuracy: 0.7174999713897705

In [ ]:
# Display evaluation matrix

#### Step 8: Save the model to keras file.

In [39]:
# Set the model's file path 
file_path = Path("saved_model/student_loans.keras")

# Export the model to keras file
nn_model.save(file_path)